<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Atrapa al Copión — Modular Flask</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

  {% include 'components/navbar.html' %}

  <main class="layout">
    
    {% include 'components/settings.html' %}

    {% include 'components/game_board.html' %}

    {% include 'components/history.html' %}

  </main>

  <footer class="foot">
    <small>Sistema Modular Jinja2 + Flask</small>
  </footer>

  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>